<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>org.ftafrica.co.optime.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sss</servlet-name>
        <servlet-class>org.ftafrica.co.optime.bussinesslogic.sss</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>org.ftafrica.co.optime.controller.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>org.ftafrica.co.optime.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HeatmapServlet</servlet-name>
        <servlet-class>org.ftafrica.co.optime.controller.HeatmapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginS</servlet-name>
        <servlet-class>org.ftafrica.co.optime.controller.loginS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>New_project</servlet-name>
        <servlet-class>org.ftafrica.co.optime.controller.New_project</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainControllerServlet</servlet-name>
        <servlet-class>org.ftafrica.co.optime.controller.MainControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reg_servlet</servlet-name>
        <servlet-class>org.ftafrica.co.optime.controller.Reg_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>New_project_servlet</servlet-name>
        <servlet-class>org.ftafrica.co.optime.controller.New_project_servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sss</servlet-name>
        <url-pattern>/sss</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HeatmapServlet</servlet-name>
        <url-pattern>/HeatmapServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reg_servlet</servlet-name>
        <url-pattern>/Reg_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>New_project</servlet-name>
        <url-pattern>/New_project</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginS</servlet-name>
        <url-pattern>/loginS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainControllerServlet</servlet-name>
        <url-pattern>/MainControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>New_project_servlet</servlet-name>
        <url-pattern>/New_project_servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
